{% extends "layout.html" %}

{% block title %}
    {{username}} Transactions
{% endblock %}

{% block main %}
<div class="mb-3">
<table class="table">
    <thead>
      <tr>
        <th class="col">Username</th>
        <th class="col">Date Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{username}}</td>
        <td>{{date}}</td>
      </tr>
    </tbody>
  </table>
  </div>

  <div class="mb-3">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Date Time</th>
            <th scope="col">Symbol</th>
            <th scope="col">Company Name</th>
            <th scope="col">Buy or Sell</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
        {% for stock in stocks|reverse %}
        <tr>
            <th scope="row">{{stock['datetime']}}</th>
            <td>{{stock['symbol']}}</th>
            <td>{{stock['name']}}</td>
            <td>{{stock['buysell']}}</td>
            <td>{{stock['quantity']}}</td>
            <td>{{stock['price'] | usd}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock %}
