 {% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
            <div class="mb-3">
                <label for="symbol">Enter Stock Symbol for Quote</label>
                <input autofocus autocomplete="off" class="form-control mx-auto w-auto" type="text" id="autocomplete" placeholder="Start typing to search..." name="symbol" />
                <table class="table mx-auto w-auto">
                    <tbody id="dropdown"></tbody>
                </table>
            </div>
        <button class="btn btn-primary" type="submit">Get Quote</button>
    </form>
    <script>
        const input = document.getElementById("autocomplete");
        const dropdown = document.getElementById("dropdown");

        async function updateDropdown() {
            // get user input
            const query = input.value.toLowerCase();
            // clear previous results
            dropdown.innerHTML = "";

            // if no user input display none dropdown
            if (!query) {
                dropdown.style.display = "none";
            }

            const filtered = await getData(query);

            if (filtered.length === 0) {
                dropdown.style.display = "none";
            }

            filtered.forEach(item => {
                const tr = document.createElement("tr");

                const symbolCol = document.createElement("th");
                symbolCol.setAttribute('scope', 'row');
                symbolCol.textContent = item.symbol;

                const nameCol = document.createElement("td");
                nameCol.textContent = item.name;

                tr.appendChild(symbolCol);
                tr.appendChild(nameCol);

                tr.addEventListener("click", () => {
                    input.value = item.symbol;
                    dropdown.style.display = "none";
                });

                dropdown.appendChild(tr);
            });

            dropdown.style.display = "block";

            async function getData(query) {

                try {
                    const r = await fetch('/search?q=' + query);
                    let data = await r.text();
                    data = JSON.parse(data);
                    return data;
                } catch (error) {
                    console.error('Error fetching data:', error);
                }

            }

        }

        input.addEventListener("input", updateDropdown);

        document.addEventListener("click", (e) => {
            if (!e.target.closest(".autocomplete-container")) {
                dropdown.style.display = "none";
            }
        });
    </script>
{% endblock %}
