{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <label for="symbol">Stock Symbol</label><select class="form-select mx-auto w-auto" aria-label="select stock symbol to sell" name="symbol" required>
                <option selected value="">--Please choose a stock to sell--</option>
                {% for stock in stocks %}
                    <option value="{{stock['id']}}">{{stock['symbol']}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="shares">Enter Number of Shares to Sell</label><input autocomplete="off" class="form-control mx-auto w-auto" placeholder="Enter quantity..." name="shares">
        </div>
        <div class="mb-3">
        <button class="btn btn-primary" type="submit">Sell</button>
        </div>
    </form>
{% endblock %}
